* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #a33495, #df8fb8);
}
button {
  cursor: pointer;
}
.wrapper {
  max-width: 500px;
  margin: auto;
}
.menu-box {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 500px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  padding: 50px 30px;
}

.question {
  &-index {
    h4 {
      color: #a33495;
      font-size: 25px;
      sub {
        color: #ccc;
        font-size: 15px;
      }
    }
  }
  &-choices {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;

    button {
      width: 100%;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 10px 7px;
      cursor: pointer;
      text-align: left;
      border-radius: 11px;
      &:hover {
        background-color: #efefef;
      }
      &:disabled{
        pointer-events: none;
      }
      &.correct {
        background-color: green;
        color: #fff;
      }
      &.active {
        background-color: rgb(255, 214, 255);
        color: #000;
        border: 1px solid #a02f93;
      }
    }
  }
  &-title {
    margin: 10px 0;
    font-size: 18px;
  }
  &-next {
    display: flex;
    margin-left: auto;
    background: linear-gradient(to right, #a33495, #df8fb8);
    color: #fff;
    border: none;
    padding: 7px 20px;
    border-radius: 11px;
    margin-top: 15px;
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed !important;
    }
  }
}
.result-container{
    h2{
        text-align: center;
        margin-bottom: 20px;
        color:#000;
        font-weight: bold;
    }
    p{
        margin-bottom: 10px;
        font-weight: 600;
        span{
            color:#a02f93;
            font-size: 20px;
            font-weight: bold;
        }
    }
}